/* 
    Document   : maincss
    Created on : Jul 25, 2013, 11:06:09 PM
    Author     : yuwen
    Description:
        Purpose of the stylesheet follows.
*/


root { 
    display: block;
}

#searchWrapper{
    width: 1224px;
    margin:auto;
    clear: both;

}

#wrapper{
    margin: auto;
    width: 1224px;
    clear: both;
}

#input{
    font-family:'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    width: 512px;
}
#googleMap{    
    width:612px;
    height:612px;
    float: left;
}

#description{
    font-family:'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 1224px;
    margin:auto;
    clear: both;
}

#bigPicHolder{
    width:612px;
    height:612px;
    background-color: black;
    float:right;
}

#bigPicHolder img{
    max-width:100%;
}

#pictureInfo{
    height:48px;
    width: 1224px;
    margin-left: auto;
    margin-right: auto;
    clear:both;
    text-align: right;
    padding-top: 12px;
}


#instagramDisp{
    font-family: Courier, serif;
    font-size: 24px;
    font-weight: bold;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    clear:both;
    border: 12px black solid;
}

#search{
    float:left;
}
#button{
    position: relative;
    float:left;
}

#searchButton{
    height: 26px;
    margin-top: 3px;
    font-family: 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

#resetButton{
    height: 26px;
    margin-top: 3px;
    font-family: 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

#error{
    font-family: Courier, serif;
    font-size: 24px;
    font-weight: bold;
    color: red;
}

.picture{
    width: 155px;
    height: 155px;
    display: inline;
    opacity: .5;
    cursor: pointer;
}

.label{
    font-family:'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold; 
}

.variable{
   font-family:'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
   font-size: 24px;
   font-weight: bold;  
   color: #0099ff;
}